* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    background-color: #f0f0f0;
}

.image {
    max-width: 150px; 
    height: auto;
}
.container {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f5f3f7;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Header styles */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #6a4c93; /* Darker purple text color */
    font-size: 24px; /* Slightly smaller font size */
}

header p {
    color: #8d8d8d; /* Light gray text color */
    font-size: 12px; /* Smaller font size */
}

/* Form styles */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 15px; /* Reduced padding */
    font-size: 14px; /* Reduced font size */
    background-color: #6a4c93;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4d366e; /* Darker color on hover */
}

.qr-container {
    text-align: center;
    margin-top: 20px;
}

.qr-image {
    max-width: 100%;
    height: auto;
}
